.main{
    grid-column: main-start / main-end;
    grid-row: 1 / -1;
    overflow: auto;

    z-index: 1;

    & > *{
        padding: 3rem;

        @include response(25rem){
            padding: 1rem;
        }
    }
}