.nav-bar{
    grid-column: nav-start / nav-end;
    grid-row: 1 / -1;
    background-color: $color-grey-light-1;
    overflow: auto;
    padding: 5rem 2rem;
    transition: all .5s;

    @include response(900px){
        width: 25rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        height: 100vh;
    }

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, min-content);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 3rem;

    .owner-img{
        width: 90%;
        border-radius: 50%;
    }

    .owner-info{

        &__name{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
        }

        &__extra{
            text-align: center;
            font-size: 1.5rem;
            letter-spacing: .3rem;
        }
    }

    .nav-list{
        justify-self: stretch;
        list-style: none;
        &__item{
            text-align: center;

            a{
                font-size: 1.8rem;
                color: #525252;
                text-decoration: none;
                display: inline-block;
                position: relative;
                text-transform: uppercase;

                &::before{
                    content: "";
                    display: block;
                    width: 0%;
                    border-bottom: 2px solid #42a7e8;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    transition: all .2s;
                }

                &:hover::before{
                    width: 100%;
                }
            }
        }

        &__item:not(:last-child){
            margin-bottom: 2rem;
        }

        .nav-active{
            color: #42a7e8;

            &::before{
                content: "";
                display: block;
                width: 100%;
                border-bottom: 2px solid #42a7e8;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: all .2s;
            }
        }
    }

    .nav-foot{
        text-align: center;
        font-size: 1.6rem;
    }
}