.about-card{
    padding: 4rem 2rem;
    box-shadow: 0 1rem 2rem rgba(#000, .2);

    &__icon{
        width: 4rem;
        height: 4rem;

        &--1{
            fill: $color-primary-1;
        }

        &--2{
            fill: $color-primary-2;
        }

        &--3{
            fill: $color-primary-3;
        }

        &--4{
            fill: $color-primary-4;
        }
    }


    &__text{
        display: block;
        font-size: 1.7rem;
        margin-top: 2rem;
    }
}