.btn-nav{
    position: fixed;
    width: 5rem;
    height: 0;
    z-index: 3;
    border-bottom: 3px solid red;
    top: 3rem;
    left: 2rem;
    display: none;

    &::before,
    &::after{
        content: "";
        display: block;
        width: 100%;
        border-bottom: 3px solid red;
        position: absolute;
    }

    &::before{
        top: -1rem;
    }

    &::after{
        top: 1rem;
    }

    &--cross{
        border-bottom: 3px solid transparent;

        &::before{
            top: 0;
            transform: rotate(40deg);
        }

        &::after{
            top: 0;
            transform: rotate(-40deg);
        }
    }

    @include response($break-width-1){
        display: block;
    }
}