.hide{
    display: none !important;
}

.invisible{
    visibility: 0 !important;
    opacity: 0 !important;
}

.nav-hide{
    left: -25rem !important;
}

.u-margin-top-large{
    margin-top: 12rem;
}

.u-margin-top-medium{
    margin-top: 6rem;
}

.u-margin-top-small{
    margin-top: 2rem;
}

.observer-wrapper{
    // border: 1px solid red;
    z-index: inherit;
}

.fade{
    transition: all .5s;
    opacity: 0;
}

.fade-1{
    transform: translateX(-5rem);
}

.fade-2{
    transform: translateY(-5rem);
}

.fade-3{
    transform: translateY(5rem);
}

.fade-4{
    transform: translateX(5rem);
}

.default-pos{
    transform: none !important;
    opacity: 1 !important;
}