.hide{
    display: none !important;
}

.invisible{
    visibility: 0 !important;
    opacity: 0 !important;
}

.nav-hide{
    left: -25rem !important;
}

.u-margin-top-large{
    margin-top: 12rem;
}

.u-margin-top-medium{
    margin-top: 6rem;
}

.u-margin-top-small{
    margin-top: 2rem;
}

.fade-1{
    transition: all .5s;
    transform: translateX(-5rem);
    opacity: 0;
}

.default-pos{
    transform: translate(0, 0) !important;
    opacity: 1 !important;
}